*{
    padding: 0;
    margin: 0;
}
.container{
    width: 80%;
    margin: auto;
}
.box{
    margin: 0 1rem  ;
    width: 33%;
    box-shadow: 0px 0px 15px 1px;
    border-radius: 15px;
   /* overflow: hidden; kenara cixan hisseleri tam otuzdurur */
}
.box img{
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.textHead{
    margin: 1rem 0;
    text-align: center;
}
.d-flex{
    display: flex;
}
.box .description{
    padding: 1rem;
}
button{
    background-color: grey;
    border-radius: 2px;
    padding: 1rem;
}